<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="src/styles/index.css" />
  </head>
  <body>
    <div class="background"></div>

    <header>
      <nav>
        <div class="logo">Daily Quotes</div>
      </nav>
    </header>

    <section class="hero">
      <h1>Transform Your Day, One Quote at a Time.</h1>
      <p>
        Get inspired daily with a fresh dose of motivation, wisdom, and
        positivity. Our app delivers carefully curated quotes to fuel your
        thoughts and kickstart your day with purpose. Whether you need a spark
        of creativity or a moment of reflection, let each quote guide you toward
        a brighter mindset.
      </p>
      <div class="buttons">
        <a href="home" class="btn">Get Started</a>
        <a href="sign-in" class="btn outline">Sign In</a>
      </div>
    </section>

    <section class="floating-quotes">
      <div class="quote-card purple rotate-left">
        <img src="../public/quote-1.png" alt="quote-1" />
      </div>
      <div class="quote-card blue rotate-right">
        A cloudy day will never bother you if you bring your own sunshine
      </div>
      <div class="quote-card gray rotate-slight">
        The mind once enlightened cannot become dark. - Thomas Paine
      </div>
      <div class="quote-card pink rotate-up">
        Keep the promises you make to yourself.
      </div>
    </section>
  </body>
</html>
