<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="src/styles/signInUp.css" />
  </head>
  <body>
    <div class="container">
      <div class="signup-box">
        <h2>Sign Up</h2>
        <form onsubmit="resetForm()" action="/user-sign-up" method="POST">
          <div class="input-group">
            <input type="text" name="fullName" required />
            <label>Full Name</label>
          </div>
          <div class="input-group">
            <input type="email" name="email" required />
            <label>Email</label>
          </div>
          <div class="input-group">
            <input type="password" name="password" required />
            <label>Password</label>
          </div>
          <div class="input-group">
            <input type="password" name="confirmPassword" required />
            <label>Confirm Password</label>
          </div>
          <button type="submit">Sign Up</button>
          <p class="login">
            Already have an account? <a href="/sign-in">Sign in</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
