<section class="add-quote-wrapper">
  <div class="btn-box"><button id="close-btn">✖</button></div>
  <div class="form-box">
    <h1>Add a New Quote</h1>
    <form action="add-new-quote" method="POST">
      <div class="input-group">
        <label for="quote">Quote</label>
        <textarea
          id="quote"
          name="quote"
          placeholder="Enter your quote here..."
        ></textarea>
      </div>
      <div class="input-group">
        <label for="image-url">Image Url</label>
        <input
          type="text"
          id="image-url"
          name="imageUrl"
          placeholder="Quote Image URL..."
        />
      </div>
      <div class="input-group">
        <label for="author">Author</label>
        <input
          type="text"
          id="author"
          name="author"
          placeholder="Quote author..."
          required
        />
      </div>
      <div class="input-group">
        <label for="category">Category</label>
        <input
          type="text"
          id="category"
          name="category"
          placeholder="Quote Category..."
          required
        />
      </div>
      <button id="add-quote-btn" type="submit">Add Quote</button>
    </form>
  </div>
</section>
