<div class="option-modal-wrapper">
  <div class="btn-box"><button id="close-btn">✖</button></div>
  <div
    style="
      display: flex;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
    "
  >
    <div class="option-box">
      <div class="btn-group">
        <button type="button" onclick="editQuote()">Edit</button>
        <button type="button">Share to...</button>
        <button type="button">About this accaunt</button>
        <button type="button" onclick="deleteQuote()">Delete</button>
      </div>
    </div>
  </div>
</div>
