/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.active-link {
  background-color: rgba(184, 184, 184, 0.3);
  border-radius: 0.4rem;
}

body {
  height: 100dvh;
  display: grid;
  grid-template-areas: "sidebar", "content", "suggested";
  gap: 1rem;
}

/* SIDEBAR */
.sidebar {
  grid-area: sidebar;
  padding: 0.5rem;
  border-right: 1px solid gray;
}

.sidebar .logos {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 2rem;
}

.sidebar .logos a:first-child {
  display: none;
}

.sidebar .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.sidebar .navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;
  width: 100%;
}

.navigation ul li {
  /* display: flex;
  align-items: end;
  justify-content: start; */
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 2rem 0.8rem 1.2rem;
}

.navigation ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navigation ul li:hover,
.navigation ul li:active {
  background-color: rgba(184, 184, 184, 0.3);
  border-radius: 0.4rem;
}

.navigation ul li img {
  width: 30px;
  height: 30px;
}

.sidebar .more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.sidebar .more ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  list-style: none;
}

/* MAIN CONTENTS */
.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrolling */
}

.content::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray */
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: #88888885; /* Darker gray */
  border-radius: 10px;
}

.content:-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker */
}

.quote-cart {
  width: 100%;
  padding: 0 0.5rem 0 0.5rem;
  position: relative;
  margin-top: 2rem;
  border-bottom: 1px solid gray;
}

.quote-cart:first-child {
  margin-top: 6rem;
}

.quote-cart .cart-header {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.cart-header .user-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart-header .user-info a {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.user-info img {
  width: 2rem; /* Set width */
  height: 2rem; /* Set height to match width for a square */
  object-fit: cover; /* Ensures image fills the square */
  border: 1px solid black; /* Square border */
  border-radius: 50%;
}

.cart-header .option {
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.quote-cart .quote-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  background-color: azure;
  padding: 0.5rem;
}

/* .quote-main h5 {
  position: absolute;
  bottom: 3rem;
  right: 1rem;
} */

.quote-cart .quote-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.quote-cart .likes {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}

/* SUGGESTED USER */
.suggested {
  grid-area: suggested;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-left: 1px solid gray;
}

.suggested .my-profile {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 0.5rem;
  font-size: 0.8rem;
  padding: 0.5rem 2rem 0.8rem 1.2rem;
  border-bottom: 1px solid gray;
  width: 100%;
}

.suggested .my-profile a {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.suggested .my-profile a img {
  width: 30px;
  height: 30px;
}

.suggested .suggested-users {
  display: flex;
  width: 100%;
}

.suggested-users ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  list-style: none;
  width: 100%;
}

.suggested-users ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 2rem 0.8rem 1.2rem;
  font-size: 0.8rem;
}

.suggested-users ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.suggested-users ul li a img {
  width: 30px;
  height: 30px;
}

.suggested-users ul li:hover {
  background-color: rgba(184, 184, 184, 0.3);
  border-radius: 0.4rem;
}

.log-out {
  color: rgb(0, 140, 255);
  font-weight: 600;
}

.user-name {
  font-weight: 700;
}

.profile-image {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
}

.icon {
  width: 30px;
  height: 30px;
}

.option-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.no-quote-yet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* MOBILE UI */
.movile-header {
  display: block;
}

.mobile-nav {
  display: none;
}

/* MEDIA QUERY */
/* Extra small devices (phones, 600px and down) */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1024px) {
  body {
    grid-template-columns: 16em auto;
    grid-template-areas: "sidebar content";
  }
  .suggested {
    display: none;
  }

  .sidebar .logos {
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar .logos a:first-child {
    display: none;
  }
  .sidebar .logos a:last-child {
    display: flex;
  }

  .navigation a > p {
    display: block;
  }
  .suggested {
    display: none;
  }

  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  body {
    grid-template-columns: 5rem auto;
    grid-template-areas: "sidebar content";
  }
  .sidebar .logos {
    justify-content: center;
    align-items: center;
  }
  .sidebar .logos a:first-child {
    display: flex;
  }
  .sidebar .logos a:last-child {
    display: none;
  }

  .navigation a > p {
    display: none;
  }
  .suggested {
    display: none;
  }

  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .content {
    width: 100%;
    margin-top: 4rem;
  }

  .content .quote-cart {
    margin-top: 1rem;
  }

  .quote-main p {
    font-size: 0.8rem;
  }

  .sidebar,
  .suggested {
    display: none !important;
  }

  .mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 0.4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: aliceblue;
  }

  .mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border-top: 1px solid gray;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: aliceblue;
  }

  .mobile-nav a {
    padding: 0.5rem;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .mobile-nav a:hover {
    background-color: rgba(184, 184, 184, 0.3);
    border-radius: 5px;
  }
  .no-quote-yet {
    margin-top: 10rem;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    grid-template-columns: 16em auto 18rem;
    grid-template-areas: "sidebar content suggested";
  }
  .suggested {
    display: flex;
  }

  .content {
    align-items: center;
  }

  .content .quote-cart {
    max-width: 60rem;
  }

  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
}
